.App {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  text-align: center;
  font-family: 'glitch'
}

.App-header {
  height: 10vh;
  min-width: 100vw;
}

.App-main {
  flex-grow: 1; /* Takes up the remaining space between header and footer */
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 100vw;
  margin-bottom: 50px
}

.App-login-button {
  position: relative;
  border: 1px solid aqua;
  padding: 15px;
  min-height: 15px;
  min-width: 25px;
  border-radius: 15px;
  background-color: #61dafb;
}

.App-login-button:hover {
  background-color: aquamarine;
}

/* .flex-grid-container {
  display: flex;
  flex-direction: column;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  border: 1px solid red;
  align-items: center;
  max-width: 500px;
  max-height: 500px; 
}

.overmono-cover-art {
  width: 100%;
  height: auto;
  border: 1px solid green;
  padding: 5px;
} */

.flex-grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Creates two equal columns */
  grid-template-rows: repeat(2, 1fr);    /* Creates two equal rows */
  max-width: 500px; /* Size of the main container */
  max-height: 500px;
  border: 1px solid red;
  gap: 5px;
  padding: 5px;
}

.overmono-cover-art {
  width: 100%;
  height: auto; /* Keeps the image's aspect ratio */
  object-fit: cover; /* Crops the image if it exceeds the cell size */
}






